In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([['sachin','jyoti','akash','kishu'],
                    ['Manish','shipra','vandana','simmy'],
                    ['ankit','shambawi','shanaya','araluna']],
                  columns=['ihcieh','hebei','sduwhih','AJshs'],
             index=['best','good','normal'])

In [3]:
df

        ihcieh     hebei  sduwhih    AJshs
best    sachin     jyoti    akash    kishu
good    Manish    shipra  vandana    simmy
normal   ankit  shambawi  shanaya  araluna

# df.rename(). We can change the column name by using this function

In [4]:
df.rename(columns={'ihcieh':'C1','hebei':'C2'},inplace =True)

In [5]:
df

            C1        C2  sduwhih    AJshs
best    sachin     jyoti    akash    kishu
good    Manish    shipra  vandana    simmy
normal   ankit  shambawi  shanaya  araluna

# set_axis() is the second method to change the name of column.

we provide a list of column names. In this method all column names change.

In [6]:
df.set_axis(['C1','C2','C3','C4'], axis=1, inplace= True)

In [7]:
df

            C1        C2       C3       C4
best    sachin     jyoti    akash    kishu
good    Manish    shipra  vandana    simmy
normal   ankit  shambawi  shanaya  araluna

# Method -3 
## Just assigning the column names

In [8]:
df.columns=['C1','C2','Just Friends','C4']

In [9]:
df

            C1        C2 Just Friends       C4
best    sachin     jyoti        akash    kishu
good    Manish    shipra      vandana    simmy
normal   ankit  shambawi      shanaya  araluna