# Ways to add new column to existing DataFrame
* Create a list of items and make a column
* insert()
* assign

In [1]:
import pandas as pd

# First we create a dataframe and then perform addition of column

In [2]:
df = pd.DataFrame({'State':['UP','PUNJAB','DELHI','HARYANA'],
                    'Population(in Cr.)':[22,10,13,14]},index=['Densed','Normal','Very Densed','Low'])

In [3]:
df

               State  Population(in Cr.)
Densed            UP                  22
Normal        PUNJAB                  10
Very Densed    DELHI                  13
Low          HARYANA                  14

# Method-1: Create a list of items and make that column

In [4]:
# Now we want to add one column. Literacy rate is the column name
Literacy = [73,71.4,79.8,67]

In [5]:
df['Literacy Rate']=Literacy

In [6]:
df

               State  Population(in Cr.)  Literacy Rate
Densed            UP                  22           73.0
Normal        PUNJAB                  10           71.4
Very Densed    DELHI                  13           79.8
Low          HARYANA                  14           67.0

# Method-2: Using  insert() function

**Syntax** 

    df.insert(location, column name, items, TRUE)

In [8]:
# We will add new column using insert function
df.insert(3,'Male (in Cr.)',[10.5,1.6,0.9,1.4])

In [9]:
df

               State  Population(in Cr.)  Literacy Rate  Male (in Cr.)
Densed            UP                  22           73.0           10.5
Normal        PUNJAB                  10           71.4            1.6
Very Densed    DELHI                  13           79.8            0.9
Low          HARYANA                  14           67.0            1.4

# Method- 3: Using assign() function
**Syntax**
   
         df.assign()
 In this we create a new dataframe and append a new column to the DataFrame

In [14]:
df1=df.assign(Female=[9.5,1.2,0.7,1.12])

In [15]:
df1

               State  Population(in Cr.)  Literacy Rate  Male (in Cr.)  Female
Densed            UP                  22           73.0           10.5    9.50
Normal        PUNJAB                  10           71.4            1.6    1.20
Very Densed    DELHI                  13           79.8            0.9    0.70
Low          HARYANA                  14           67.0            1.4    1.12